.cursor/
.DS_Store

isaac-sim/documents/*
isaac-sim/logs/*
isaac-sim/config/*
isaac-sim/assets/*
!isaac-sim/documents/.gitkeep
!isaac-sim/logs/.gitkeep
!isaac-sim/config/.gitkeep
!isaac-sim/assets/.gitkeep

ros2/build/
ros2/install/
ros2/log/
